.inputMain {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
  background-color: #f6f6f6;
}
@media only screen and (max-width: 390px) {
  .inputMain {
    width: 390px;
  }
}
.butn{
  align-self: flex-start;
}
.arrowButton button {
  
  display: flex;
  border-color: #d9d9d9;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #d9d9d9;
  justify-content: center;
  margin-top: 4rem;
  margin-left: 4rem;
}

.arrow {
  display: flex;
  align-self: center;
  width: 9.21px;
  height: 16px;
  background-image: url("../images/Vector.png");
}

.buttons {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-bottom: 1%;
}
.buttons button {
  font-size: larger;
  padding: auto;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  background-color: #f6f6f6;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background: #ffffff;
  border-radius: 3%;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
}
form input {
  width: 100%;
  height: 4rem;
  border-radius: 8px;
}
form input:invalid {
  border-color: red;
}

form select {
  width: 100%;
  height: 4rem;
  border-radius: 8px;
  background-color: #f6f6f6;
}
form input:invalid {
  border-color: red;
}
form button {
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  padding: 1% 1%;
}

.logo {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  background: url("../images/LOGO-10\ 2.png");
  width: 85px;
  height: 85px;
}
