.inputMain {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: center;
  background-color: #f6f6f6;
}

.back {
  width: 60px;
  height: 60px;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 50px;
  border: none;
  border-radius: 50%;
  background-color: lightgray;
}
.back b {
  font-size: 30px;
}

.buttons {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 50px;
}
.buttons button {
  font-size: larger;
  padding: auto;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  background-color: #f6f6f6;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background: #ffffff;
  border-radius: 3%;
  font-size: 15px;
  padding: 20px;
}
form input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border-color: #8ac0e2;
}
form select {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f6f6f6;
}
form button {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 10px;
}

.logo {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  background: url("../images/LOGO-10\ 2.png");
  width: 85px;
  height: 85px;
}
