.mainInput {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
small {
  font-size: 10px;
}
hr {
  color: black;
}
.dropDown {
  box-sizing: border-box;
  height: 25vh;
  width: 50vw;
  background: #f7f7f7;
  border: 2px dashed #4386a9;
  border-radius: 18px;
}
.LapName {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 5%;
  align-items: flex-end;
}
.LapNameInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cpu {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.cpu select {
  width: 30%;
}
.cpuInput {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.ram {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
  width: 80%;
}
.ramInput {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

.ramType {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ramType input {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.ramRam {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.buy {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 50px;
}
.row {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}
.last {
  width: 20%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
}
.lastRadio {
  display: flex;
  flex-direction: row;
}
.lastRadio input {
  height: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.button1 {
  border: none;
  color: #62a1eb;
  width: 45px;
  height: 25px;
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px 10px;
}
.button2 {
  width: 220px;
  height: 60px;
  background-color: #62a1eb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
