.mein {
  width: 1920px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 390px) {
  .mein {
    width: 390px;
    font-size: 5px;
  }
  .arrowButton button{
    width: 20px;
    height: 20px;
  }
}

.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 80%;
  display: flex;
  flex-direction: row;

  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cali {
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #aed1ea;
  width: 40%;
  height: 40%;
  justify-content: space-around;
  align-items: center;
}
.cali img {
  width: 25%;
  height: 30%;
}
.cali button {
  border: none;
  background-color: #aed1ea;
}

.butn {
  align-self: flex-start;
}
.arrowButton button {
  display: flex;
  border-color: #d9d9d9;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #d9d9d9;
  justify-content: center;
  margin-top: 4rem;
  margin-left: 4rem;
}

.arrow {
  display: flex;
  align-self: center;
  width: 9.21px;
  height: 16px;
  background-image: url("../images/Vector.png");
}
