.mainInput {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 390px) {
  .inputMain {
    width: 390px;
    font-size: 5%;
  }
}
.inputFullName {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  width: 100%;
  gap: calc(10%);
  background-color: rgb(255, 255, 255);
}

.inputName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.inputOther {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  width: 100%;
  gap: 10px;
}

.formButton {
  position: relative;
  margin-left: auto;
  width: 40%;
  height: 60px;
}
.formButton button {
  width: 100%;
  height: 100%;
  background-color: #62a1eb;
  color: #ffffff;
}
