.mainInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.inputFullName {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  width: 100%;
  gap: calc(10%);
  background-color: rgb(255, 255, 255);
}
.inputName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.inputOther {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  width: 100%;
  gap: 10px;
}

.formButton {
  background-color: #62a1eb;
  width: 25%;
  height: 60px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: larger;
  margin-left: 750px;
}
