main {
  position: relative;
  width: 1920px;
  max-width: 1920px;
  background: #ffffff;
}
@media only screen and (max-width: 390px) {
  main {
    width: 390px;
    height: 844px;
    font-size: small;
  }
}
